body {
	background: #f9e933;
	font-family: "Droid sans";
}

header, main, footer {
	min-width: 855px;
	overflow: hidden;
}

header .container, main .container, footer .container {
max-width: 855px;
margin: auto;
}

header {
  padding: 25px 0 25px 0;
  background: white;
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

main {
	background: white;
}

header h1, #left{
	float: left;
	width: 570px;
}

footer .contact {
	float: left;
	width: 570px;
}

footer .sitemap {
	float: right;
	width: 285px;
}

header nav, #right{
	float: right;
	width: 285px;
}


h5 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.25em;
    margin-bottom: 20px;
}
footer {
    border-top: 1px solid #ddd;
    padding: 40px 0 20px 0;
}


h1 {
  font-family: 'Ubuntu', sans-serif;
  font-style: italic;
  font-size: 3em;
  color: #b33;
  float: left;
  width: 570px;
}

.amaze {
	color: #b33;
	font-style: italic;
}
a { 
	color: #f00; 
	text-decoration: none; 
	font-weight: bold; 
} 

h2, h3{
	font-weight: bold;
	font-size: 1.5em;
	padding-top: 5%;
	margin-bottom: 20px;
}
h2{
	font-size: 2em;
	font-weight: bold;
}

.siteLeft {
	float: left;
}

.siteRight {
	float: right;
}

.tabs a span {
    border-radius: 5px 5px 0 0;
    display: inline-block;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a .active {
    background: #eee;
}

main .content {
    padding: 30px 10px 30px 10px;
    border-radius: 0 5px 5px 5px;
    background: #eee;
}

main .content li {
    border-radius: 5px;
    padding: 3px;
    background: #eff;
    margin: 0 0 10px 0;
}

main .content button {
  font-weight: bold;
  padding: 0 3px 0 3px;
  border-radius: 5px;
  background: #ccc;
  cursor: pointer;
  margin-left: 5px;
  font-size: 1.3em;
}


main .content p {
    background: yellow;
}

main .content input {
    font-size: 1.5em;
}